{% extends 'base.html' %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chính sách đổi trả</title>
    <style>
        .breadcrumb{
            color: black;
            text-decoration: none;
            font-weight: 300;

        }
        .breadcrumb:hover{
            color: #F0982D;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div style="font-family: Arial; ; margin: 50px 100px; ">
    <div style="margin-bottom: 10px;">
        <span style="font-size: 14px;"><a href="" class="breadcrumb" style="background-color: white; display: inline; margin-right: 0; padding: 5px;">Trang chủ</a>&gt; <strong>Chính Sách Đổi Trả</strong></span>
    </div>
    <div style="font-size: 15px;">
        <h2>Chính Sách Đổi Trả</h2>
        <p>
            Chúng tôi luôn hướng tới việc cung cấp dịch vụ giao hàng tốt nhất cho tất cả các đơn hàng của bạn.
            <strong>Tote.Tout</strong> với chính sách miễn phí đổi hàng trong vòng 30 ngày, không áp dụng với sản phẩm Sale Off.
            Nếu Order của bạn bị sai, nếu bạn không hài lòng với sản phẩm, với chất lượng hình in, sản phẩm không đúng với những gì bạn mong đợi dưới bất kỳ hình thức nào, hoặc đơn thuần muốn thay đổi đơn hàng của mình.
            Đội ngũ Customer Service tại <strong>Tote.Tout</strong> sẵn sàng hỗ trợ đổi đơn hàng miễn phí.
        </p>
        <span><strong>Quy định chung</strong></span>
        <p>
            - Chính sách đổi hàng áp dụng cho tất cả đơn hàng mua Online tại trang web của Tote.Tout. <br>
            - Chỉ áp dụng đổi hàng 1 lần duy nhất/1 đơn.
        </p>
        <span><strong>Thời gian đổi hàng</strong></span>
        <p>
            Tote.Tout miễn phí đổi sản phẩm trong vòng 30 ngày (kể từ ngày khách hàng nhận được sản phẩm). Khách hàng vui lòng thông báo với Tote.Tout qua chat trên website hoặc Facebook page.
        </p>
        <span><strong>Sản phẩm áp dụng</strong></span>
        <p>
            Chính sách này được áp dụng cho tất cả các sản phẩm của Tote.Tout. Khi phát sinh nhu cầu đổi trả, khách hàng cần giữ nguyên nhãn mác, hoá đơn khi mua hàng.
        </p>
        <span><strong>Quy định sản phẩm</strong></span>
        <p>
            - Sản phẩm đổi phải đảm bảo như khi mới mua, không rách, không bẩn hoặc bị các lỗi khác không xuất phát từ nhà sản xuất.<br>
            - Đối với sản phẩm đổi, Tote.Tout sẽ thực hiện gửi đơn hàng mới ngay sau khi nhận được sản phẩm đổi từ khách hàng.<br>
            - Tote.Tout không áp dụng việc đổi sản phẩm thuộc các chương trình khuyến mại.

        </p>
    </div>
</div>
</body>
</html>
{% endblock %}