{% extends 'base.html' %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chính sách giao hàng</title>
    <style>
        .breadcrumb{
            color: black;
            text-decoration: none;
            font-weight: 300;

        }
        .breadcrumb:hover{
            color: #F0982D;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div style="font-family: Arial; ; margin: 50px 100px; ">
    <div style="margin-bottom: 10px;">
        <span style="font-size: 14px;"><a href="#" class="breadcrumb" style="background-color: white; display: inline; margin-right: 0; padding: 5px;">Trang chủ</a>&gt; <strong>Chính Sách Giao Hàng</strong></span>
    </div>
    <div style="font-size: 15px;">
        <h2>Chính Sách Giao Hàng</h2>
        <p>
            Chính sách vận chuyển áp dụng cho tất cả đơn hàng đặt mua Online. Tote.Tout nhận giao hàng nội địa Việt Nam.
        </p>
        <span><strong>Thời gian giao hàng</strong></span>
        <p>
            • Nội thành Hà Nội (giao tiêu chuẩn): phí ship 30.000 VNĐ. Thời gian dự kiến nhận hàng: 2-3 ngày làm việc.<br>
• Ngoại thành Hà Nội và các tỉnh khác: phí ship 40.000 VNĐ. Thời gian dự kiến nhận hàng: 4-6 ngày làm việc.<br>
  - Phí ship trên áp dụng cho toàn bộ đơn hàng dưới bất kỳ hình thức thanh toán nào. <br>
  - Vui lòng liên hệ trực tiếp với Tote.Tout qua fanpage Tote.Tout để được hỗ trợ vấn đề phát sinh.
        </p>
        <p>
            Thời gian được tính từ lúc bạn đặt đơn hàng đến khi nhận được hàng, không kể ngày lễ hay thứ 7 và chủ nhật. Trong thời gian diễn ra sự kiện lớn với số lượng đơn hàng tăng mạnh, thời gian giao hàng có thể kéo dài tùy theo tình hình thực tế, kính mong quý khách thông cảm.

        </p>

        <p>
        (*) Trong trường hợp có phát sinh dịch bệnh hoặc khu vực giao hàng bị hạn chế theo quy định của cơ quan quản lý nhà nước, nhãn hàng được quyền từ chối giao hàng.<br>
(*) Đơn hàng sẽ được giao tới tận nhà của khách hàng, ngoại trừ các trường hợp như: khu vực chung cư/cao tầng (chỉ phục vụ giao tại chân tòa nhà), khu vực hạn chế đi lại (khu vực văn phòng hạn chế ra vào, khu vực quân sự, biên giới,…).

        </p>

    </div>
</div>
</body>
</html>
{% endblock %}