{% extends 'base.html' %}
{% block content %}


<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hướng dẫn mua hàng</title>
    <style>
        .breadcrumb{
            color: black;
            text-decoration: none;
            font-weight: 300;

        }
        .breadcrumb:hover{
            color: #F0982D;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div style="font-family: Arial; ; margin: 50px 100px; ">
    <div style="margin-bottom: 10px;">
        <span style="font-size: 14px;"><a href="#" class="breadcrumb" style="background-color: white; display: inline; margin-right: 0; padding: 5px;">Trang chủ</a>&gt; <strong>Hướng Dẫn Mua Hàng</strong></span>
    </div>
    <div style="font-size: 15px;">
        <h2>Hướng Dẫn Mua Hàng</h2>
        <p><strong>Hướng dẫn mua hàng trên website Tote.Tout</strong></p>
        <p>
            <strong>Bước 1</strong>: Truy cập website và lựa chọn sản phẩm bạn đang tìm kiếm
        </p>
        <p>
            <strong>Bước 2</strong>: Click vào sản phẩm, màn hình hiển thị ra pop up với các lựa chọn sau:<br>
            - Nếu bạn muốn tiếp tục mua hàng: Bấm vào phần tiếp tục mua hàng để lựa chọn thêm sản phẩm vào giỏ hàng<br>
            - Nếu bạn muốn xem giỏ hàng để cập nhật sản phẩm: Bấm vào xem giỏ hàng<br>
            - Nếu bạn muốn đặt hàng và thanh toán cho sản phẩm này vui lòng bấm vào: Đặt hàng và thanh toán
        </p>
        <p>
            <strong>Bước 3</strong>: Lựa chọn thông tin tài khoản thanh toán Nếu bạn đã có tài khoản vui lòng nhập thông tin
            tên đăng nhập là email và mật khẩu vào mục đã có tài khoản trên hệ thống Nếu bạn chưa có tài khoản
            và muốn đăng ký tài khoản vui lòng điền các thông tin cá nhân để tiếp tục đăng ký tài khoản.
            Khi có tài khoản bạn sẽ dễ dàng theo dõi được đơn hàng của mình Nếu bạn muốn mua hàng mà không cần tài khoản
            vui lòng nhấp chuột vào mục đặt hàng không cần tài khoản.
        </p>
        <p>
            <strong>Bước 4</strong>: Điền các thông tin của bạn để nhận đơn hàng, lựa chọn hình thức thanh toán và vận chuyển cho đơn hàng của mình.
        </p>
        <p>
            <strong>Bước 5</strong>: Xem lại thông tin đặt hàng, điền chú thích và gửi đơn hàng Sau khi nhận được đơn hàng bạn gửi chúng tôi sẽ gửi email để xác nhận lại đơn hàng và địa chỉ của bạn.
        </p>
        <p>
            Chúc các bạn mua sắm vui vẻ với Tote.Tout!
        </p>

    </div>
</div>
</body>
</html>
{% endblock %}